@font-face
{
  font-family: "et-book";
  src: url("fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
  src: url("fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal;
}

body
{
  color: #888888;
  background-color: #000000;
  font: "et-book";
  font-size: 5rem;
  float: left;
}

p
{
  margin-right: 4rem;
}

a
{
  color: #888888;
}
